<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PlayThemAll</title>
    <style>
        #zone_chat strong {
            color: white;
            background-color: black;
            padding: 2px;
        }
    </style>
</head>

<body>
<a href="/logout">Deconnection</a>

<a href="/games/chess/1">Jouer echec - 1</a>
<a href="/games/chess/2">Jouer echec - 2</a>
<h1><%= user.username %> - Chat :</h1>

<form action="/" method="post" id="formulaire_chat">
    <input type="text" name="message" id="message" placeholder="Votre message..." size="50" autofocus />
    <input type="submit" id="envoi_message" value="Envoyer" />
</form>

<section id="zone_chat">

</section>
<br />
<br />
<br />
<br />
<p><em>
This project (which was originally started to test NodeJS and sockets, but still in developpment) aims to build a game plateform.
People will be able to :<br />
- Reserve a pseudo<br />
- Connect to lobbies<br />
- Chat in lobbies<br />
- Play different games<br />
<br />
For chat and games, I use sockets, for a real time experience !<br />
If this project picks your interest, let me know !<br />
<br />
You can find the GitHub code <a href="https://github.com/Eyap53/PlayThemAll">here</a>.
</em></p>


<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script >

    // Connexion à socket.io
    var chat = io.connect('/home');

    // Quand on reçoit un message, on l'insère dans la page
    chat.on('message', function(data) {
        insereMessage(data.username, data.message)
    });

    // Quand un nouveau client se connecte, on affiche l'information
    chat.on('new_client', function(username) {
        $('#zone_chat').prepend('<p><em>' + username + ' a rejoint le Chat !</em></p>');
    });
	chat.on('client_disconnected', function(username) {
        $('#zone_chat').prepend('<p><em>' + username + ' a quitté le chat.</em></p>');
    });

    // Lorsqu'on envoie le formulaire, on transmet le message et on l'affiche sur la page
    $('#formulaire_chat').submit(function () {
        var message = $('#message').val();
        chat.emit('message', message); // Transmet le message aux autres
        insereMessage('Moi', message); // Affiche le message aussi sur notre page
        $('#message').val('').focus(); // Vide la zone de Chat et remet le focus dessus
        return false; // Permet de bloquer l'envoi "classique" du formulaire
    });

    // Ajoute un message dans la page
    function insereMessage(username, message) {
        $('#zone_chat').prepend('<p><strong>' + username + '</strong> : ' + message + '</p>');
    }
	
	</script>
</body>
</html>
